$mainBlue: navy;

.bestSellers h1{
    color: $mainBlue;
    text-decoration: underline;
}

.bestSellers p{
text-align: center;
}
.bestSellers{
  background-color: rgb(77, 166, 196);
  margin-top: -30px;
  padding-bottom: 30px ;
}



